.w3-tangerine {
    font-family: "Tangerine", serif;
    color: white;
  }
  .w3-regular{
      color: white;
  }
  .cover-image {
      background-image: url("https://www.optimus.guru/old/wp-content/uploads/2018/02/Grocery-Background.jpg"); /* The image used */
      background-color: #cccccc; /* Used if the image is unavailable */
      height: 100%; /* You must set a specified height */
      width: 100%;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
 }
